.vertical_flip {
		margin-bottom: 30px;
		width: 250px;
		height: 250px;
		position: relative; -webkit-transform-
		style: preserve-3d;
		-webkit-transition; all 0.7s ease;
		transform-style: preserve-3d;
		transform-origin: 25% 125px;
		transition: all 0.7s ease;
}
.container {
	margin-right: 50px;
	float: left;
}
.container:hover .vertical_flip {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.front, .back {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	position: absolute;
	left: 0;
	-webkit-backface-visibilty: hidden;
	backface-visibilty: hidden;
}
.back {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
#members {
	margin-left: 30%;
	width: 600px;
	margin-top: 20px;
	display: block;
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext1 {
	overflow-y: scroll;
	overflow-x: hidden;
	visibility: hidden;
	color: white;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	top: 0px;
	right: -430px;
	font-family: "Century Gothic";
	font-size: 20px;
	width: 400px;
	height: 250px;
	float: right;
	padding: 15px 10px;
}
.tooltip:hover .tooltiptext1 {
	visibility: visible;
}
.tooltip .tooltiptext {
	text-wrap: normal;
	backgound: no-repeat fixed; 
	overflow-x: hidden;
	overflow-y: scroll;
	visibility: hidden;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 15px 10px;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: -430px;
	font-family: "Century Gothic";
	font-size: 20px;
	width: 400px;
	height: 250px;
	float: left;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.text {
	font-size: 16px;
}
::-webkit-scrollbar {
	background-color: white;
	width: 8px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(48, 48, 48);
	-webkit-box-shadow: inset;
}
#subtopics {
	height: 75px;
	background-color: white;
	margin: -30px 0px 0px -10px;
	width: 102%;
	font-family: "Century Gothic";
	font-size: 25px;
}
ul {
	list-style-type: none;
	
}
li {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}
.link {
	display: block;
	background-color: none;
	color: black;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
}
.link:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}
.fa {
	padding: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	margin: 20px 7px;
	background: black;
	color: white;
	border-radius: 50%;
	float: right;
}	
.fa:hover { 
	background: white;
	color: black;
}
.section {
	margin-top: 20px;
	width: 250px;
	margin-right: -2px;
	float: left;
}
.gallery {
	margin-bottom: 5px;
	width: 220px;
	padding: 5px;
	border-radius: 1px;
	background-color: white;
}
.know {
	background-color: white;
	color: black;
	font-size: 15px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.know:hover {
	opacity: 0.8;
}
.saying {
	opacity: 0.9;
	border-radius: 3px;
	background-color: black;
	padding: 10px;
	color: white;
	font-size: 30px;
	float: left;
	margin-top: 50%;
	margin-left: 30px;
	font-family: "Century Gothic";
}
.song {
	margin-top: 10px;
	background-color: white;
	border-radius: 3px;
	border: black 1px;
	float: left;
	margin-left: 15px;
}
video {
	margin: 10px;
	width: 300px;
}
.description {
	margin: 0px 0px 10px 10px;
	font-size: 18px;
	font-family: "Century Gothic";
	color: black;
}